{% extends "_base.html" %}
{% load blog %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Comment
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/simplemde-1.11.2/simplemde.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/highlight-9.11.0/github.min.css' %}">
<script src="{% static 'vendor/highlight-9.11.0/highlight.min.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
    .comments img {
        max-height: 100%;
        max-width: 100%;
    }
    img[src*='#w-50'] {
        width: 50%;
    }
    img[src*='#w-75'] {
        width: 75%;
    }
    img[src*='#w-100'] {
        width: 100%;
    }
    img {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }
</style>
{% endblock css %}
{% block main %}
<div class="pt-5">

    <h1 class="display-4 text-center">Markdown Example</h1>
    <p class="lead">Bình luận</p>

    <form action="." method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-lg btn-block">Bình luận</button>
    </form>
    
    <h4 class="my-4 font-weight-bold">Danh sách bình luận</h4>
    <table class="table my-4 comments">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Nội dung</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.name }}</td>
                <td>{{ comment.content|markdown|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <img class="w-100" src="" alt="">
  </div>
</div>
</div>

{% endblock main %}
{% block javascript %}
<script src="{% static 'vendor/simplemde-1.11.2/simplemde.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert2/sweetalert.min.js' %}"></script>
<script src="{% static 'vendor/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'vendor/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script type="text/template" id="ImageUploadTemplate">
    <div id="uploadImage">
        <div class="my-2" id="js-display-image">
            {% include "blog/comment/image_placeholder.html" %}
        </div>
        <input class="fileUpload" type="file" name="image"
                   style="display: none;"
                   data-url="{% url 'blog:ajax_image_upload' %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

        <div class="invalid-feedback js-error">Ảnh không hợp lệ!</div>
    </div>
</script>
<script>
var token = "{{ csrf_token }}"

var replaceTextImage = function(cm, image, text) {
    var doc = cm.getDoc();
    var cursor = doc.getCursor();
    var line = doc.getLine(cursor.line);

    var from = {
        line: cursor.line,
        ch: line.length - image.length,
    }
    var to = {
        line: cursor.line,
        ch: line.length,
    }

    doc.replaceRange(text, from, to);
}

var Toolbar_UploadImage = {
    name: "UploadImage",
    title: "Upload Image",
    className: "fa fa-upload",
    action: function(editor) {
        var cm = editor.codemirror;
        var image = '';

        swal({
            title: "Upload Image",
            content: $.parseHTML('<div>' + $('#ImageUploadTemplate').html() + '</div>')[0],
            animation: "slide-from-top",
            timer: 0,
        });

        $('#uploadImage').on('click', '.js-upload-image', function() {


            $('.fileUpload').click();
            $('.fileUpload').fileupload({
                dataTye: 'json',
                done: function(e, data) {
                    if (data.result.is_valid) {
                        $('.js-error').hide()
                        $('#js-display-image').html(data.result.html_image)
                        image = data.result.markdown_image
                        cm.replaceSelection(data.result.markdown_image);

                    } else {
                        $('.js-error').show();
                    }
                },
            });

        });

        $('#uploadImage').on('change', 'form.js-width-form', function() {
            let form = $(this);
            $.ajax({
                url: form.attr('action'),
                dataType: 'json',
                type: 'post',
                data: form.serialize(),
                success: function(data) {
                    image = data.markdown_image
                    replaceTextImage(cm, image, data.markdown_image)
                }
            });
        });


        $('#uploadImage').on('click', '.js-delete-image', function() {
            let el = $(this);
            $.ajax({
                url: el.attr('data-url'),
                type: 'post',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: token,
                },
                success: function(data) {
                    $('#js-display-image').html(data.image_placeholder)
                    replaceTextImage(cm, image, '');
                }
            });
            return false;
        });

    }
}

function youtube_parser(url) {
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    return (match && match[7].length == 11) ? match[7] : url;
}

var Toolbar_YouTube = {
    name: "YouTube",
    title: "Link YouTube",
    className: "fa fa-youtube js-youtube",
    action: function(editor) {
        var cm = editor.codemirror;

        swal({
            title: "YouTube",
            text: "Nhập link Youtube",
            content: "input",
            animation: "slide-from-top",
            inputPlaceholder: "https://",
            buttons: true,
        }).then(function(inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal("Hãy nhập một đường link!");
                return false;
            }
            var youtubeID = youtube_parser(inputValue);
            cm.replaceSelection('[![Yes](https://img.youtube.com/vi/' + youtubeID + '/0.jpg)](https://www.youtube.com/watch?v=' + youtubeID + ')');
            swal.close();
        });
    }
}

var Toolbar_br = {
    name: "br",
    title: "Xuống dòng",
    className: "fa fa-level-down fa-rotate-90",
    action: function(editor) {
        var cm = editor.codemirror;
        cm.replaceSelection("<br />");
    }
};

$(function() {

    $('[id="id_content"').each(function(i, el) {

        var simplemde = new SimpleMDE({
            element: el,
            spellChecker: false,
            status: true,
            toolbar: [
                "undo",
                "redo",
                "|",
                "bold",
                "italic",
                "heading",
                "|",
                "table",
                "unordered-list",
                "ordered-list",
                "|",
                "link",
                "image",
                Toolbar_UploadImage,
                Toolbar_YouTube,
                "|",
                "code",
                "horizontal-rule",
                Toolbar_br,
                "|",
                "preview",
                "side-by-side",
                "fullscreen",
                "|",
                "guide",
            ],
        });
    });

    $('table.comments img').on('click', function() {
        let image = $(this);
        $('#modalImage img').attr('src', image.attr('src'));
        $('#modalImage').modal('show');
    })

});
</script>
{% endblock javascript %}