<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    
    <!-- SEO -->
    <meta name="author" content="djangobat">
    <meta name="description" content="Django Example">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.1.0/css/all.css' %}">
    {% block css %}
        
    {% endblock css %}
</head>
<body>
    
    {% include "includes/header.html" %}
    <div class="container">
        {% block main %}
        {% endblock main %}
    </div>
    
    <!-- JQUERY v3.4.1 -->
    <script src="{% static 'vendor/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/popper.js-1.14.6/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
        
    {% endblock javascript %}
</body>
</html>